<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @profile.image.url %>
</p>

<p>
  <strong>User:</strong>
  <%= @profile.user.name %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
