<div class="container my-container">
  <p id="notice"><%= notice %></p>
  <h1>All Users</h1>
  <table class="table table-hover" style="width:50%">
    <thead>
      <tr>
        <th>Email</th>
        <th>Name</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.name %></td>
          <td><%= link_to 'Show', user %></td>
          <%if logged_in? %>
          <% if current_user.id == user.id%>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <%end%>
          <%end%>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</div>