<div class="container profile-pic"> 
  <div class="row">
    <div class="col-6">
      <p id="notice"><%= notice %></p>
      <% if logged_in? %>
      <% check = 0, links='1', id=nil, nam=nil %>
      <% @profiles.each do |profile| %>
        <% if current_user.id == profile.user_id %>
          <% check = 1%>
          <%links = profile.image.url %>
          <%id =profile%>
        <%nam= profile.user.name%>
        <% end %>
      <% end %>
      <% if check==1 %>
      <p><%= image_tag links, size:"150x150",class:"rounded-circle" unless links.blank? %></p>
      <p><%= nam%></p>
      <%= link_to 'Edit', edit_profile_path(id) %>
      <%= link_to 'Destroy', id, method: :delete, data: { confirm: 'Are you sure?' } %>

      <% else %>
      <p><%=image_tag "userImage.png"%></p>
      <%= nam%>
      <%= link_to 'Upload a profile picture', new_profile_path %>
      <% end %>
      <% end %>

      <div class="index-post">
        <h1>Posts</h1>
        <%= link_to 'New Post', new_post_path, class:"btn btn-primary" %>
        <br>
        <% @posts.each do |post| %>
          <div class="card my-card">
            <div class="card-body">
              <div><%= post.blog %></div>
              <div><%= image_tag post.image.url, alt:"No image posted",size: "450x350" unless post.image.url.blank? %></div>
              <div>Tagged By: <%= post.user.name %></div>
            </div>
            <div class="card-footer">
            <%= link_to 'Show', post, class:"btn btn-secondary index-btn"%>|
          <% if logged_in?%>
          <% if post.user_id == current_user.id%>
              <%= link_to 'Edit', edit_post_path(post),class:"btn btn-warning index-btn" %>|
              <%= link_to 'Destroy', post, class:"btn btn-danger index-btn",method: :delete, data: { confirm: 'Are you sure?' } %>
                <%end%>  
                <%end%> 
              </div>
            </div>    
          <% end %>
        </div>
    </div>
    <div class="col-6 left-card">
      <div class="card user-card">
        <h3>All Users</h3>
      <% @posts.each do |post| %>
        <div><%=post.user.name%></div>
      <%end%>
      </div>
    </div>
  </div>
</div>
