<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="card show-card">
      <div class="card-body">
        <div><%= @post.blog %></div>
        <br>
        <div>
        <%if @post.image.present? %>
          <%= image_tag @post.image.url, size:"150x150" %>
        <%else%>
        <%end%>
        </div>
        Posted By: <%= @post.user.name %>
      </div>    
    <div class="card-footer">
      <%if logged_in? %>
      <% unless @post.user_id == current_user.id %>
      <% if @favorite.present? %>
        <%= link_to 'Cancel favorite', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
      <% else %>
        <%= link_to 'Make it a favorite', favorites_path(post_id: @post.id), method: :post, class: 'btn btn-primary' %>
      <% end %>
      <% end %>
      <%end%>

      <%= link_to 'Edit', edit_post_path(@post) %> |
      <%= link_to 'Back', posts_path %>
  </div>
    </div>

</div>